$main-color: #205691;
$title-font: "Source Sans 3", sans-serif;
$second-font: Helvetica, sans-serif;

.main {
  display: flex;
}

.info {
  padding: 5rem 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  flex: 1;
  h1 {
    color: $main-color;
    font-size: 4.5rem;
    font-family: $title-font;
  }
  p {
    color: $main-color;
    font-size: 1.6rem;
    font-family: $second-font;
    line-height: 1.5;
  }
  button {
    font-size: 1.5rem;
    color: #fff;
    background-color: #fd7267;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 600;
  }
  button:hover {
    background-color: #f85145;
  }
}

.infoDados {
  display: flex;
  justify-content: space-between;
  text-align: center;

  width: 100%;
  h2 {
    font-size: 3.125rem;
    font-weight: 700;
    color: $main-color;
    font-family: $title-font;
    line-height: 1;
  }
  h3 {
    color: $main-color;
    font: $second-font;
  }
}

.banner {
  flex: 1;
  width: 50%;
  object-fit: cover;
}

@media(max-width: 1180px){
  .info{
    padding: 2rem 0 2rem 2rem;
    p{
      font-size: 1.3rem;
      font-weight: bold;
    }
    h1{
      font-size: 3.5rem;
      line-height: 1;
    }
    button{
      font-size: 1rem;
      padding: 15px 30px;
    }
  }
  .infoDados{
    h2{
      font-size: 2.5rem;
    }
  }
}

@media(max-width: 768px){
  .main{
    flex-direction: column;   
    align-items: center; 
  }
  .info{
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;    
    h1{
      font-size: 2.6rem;
    }
    .infoDados{
      h2{
        font-size: 2rem;
      }
      h3{
        font-size: .9rem;
      }
    }
  }
  .banner{
    width: 70%;
    border-radius: 30%
  }
}
@media(max-width: 299px){
  .infoDados{
    flex-wrap: wrap;
    justify-content: center;
  }
}