.mainUser {
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;

  section {
    padding: 5rem 2rem;
    display: flex;
    border: solid #efeeea;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    .img {
      max-width: 100%;
      border-radius: 50%;
      border: solid 5px #00aaff;
      flex: 1;
    }
  }
}
.descricoes {
  flex: 1;
  h3 {
    font-size: 2.25rem;
  }

  span {
    color: #278733;
    font-weight: 500;
  }
  h4 {
    margin: 30px 0;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .icones {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  @media (max-width: 500px) {
    text-align: center;
  }
}

.skills {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px 0;
  @media (max-width: 500px) {
    justify-content: center;
  }
  p {
    background-color: #d4e7d6;
    padding: 5px 10px;
    border-radius: 10px;
    color: #278733;
  }
}
