.main{
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 81vh;
  h1{
    margin-top: 30px;
    text-align: center;
    font-size: 3.75rem;
    color: #205691;
    font-family: "Source Sans 3", sans-serif;
    margin-bottom: 30px;
  }
}
@media(max-width: 768px){
  .main h1{
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 0;
  }
}