@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #205691;
  position: relative;

  .imgLogo {
    max-width: 87px;
    max-height: 65.7px;
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;

  .Link{
    padding: 5px 20px;
    color: white;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;

  }
}

.imgUser {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #00aaff;
  cursor: pointer;
}

.navUser{
  position: absolute;
  right: 0;
  top: 6rem;
  background-color: #205691;

  a{
    display: block;
    padding: 5px 20px;
    color: #fff;
    text-align: start;
    font-family: "Source Sans 3", sans-serif;;
  }
}
.closedNavUser{
  display: none;
}
