.footer {
  background-color: #e9eef4;
  color: #000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0 ;
  margin-top: auto;
  font-size: .8rem;
  height: 7vh;
}
@media (min-width:1000px) {
  .footer {
    p {
      display: flex;
      display: inline;
      font-size: 1rem;
    }
  }
}
