.footer {
  background-color: #e9eef4;
  color: #000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0 ;
}
@media (min-width:1000px) {
  .footer {
    p {
      display: flex;
      display: inline;
    }
  }
}
